@import url("https://fonts.googleapis.com/css2?family=Caveat");

.Container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.Picture {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 5px solid #fff;
  border-radius: 3px;
  background: #797979;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  user-select: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.Picture-video {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 5px solid #fff;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  user-select: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.Picture-img {
  display: block;
  width: 300px;
  height: 400px;
  pointer-events: none;
  object-fit: cover;
}

.Picture-note {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 70px;
  padding: 12px 24px;
  font-size: 1.5rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Caveat', serif;
  overflow: hidden;
  background-color: rgb(38, 38, 38);
  touch-action: none;
  height: 100vh;
  width: 100vw;
}
